<!-- Header with a background image / you can change <section> by <header> -->
<section class="py-5 bg-image-full" style="background-image: url('/assets/images/bg/bg_heading1.jpg');">
    <div class="row">
      <div class="col-7 m-5">
        <h1>PC-Deluxe</h1>
        <p class="lead">Nous sommes pionnier dans la vente des produits de luxe.</p>
        <p>Vous trouverez tous vos besoins en produits haut de gamme dans notre shop.</p>
        <p>Ci-après vous découvrirez les produits les plus tendance sur le marché.</p>
        <br/>
      </div>
    </div>
</section>


