<!-- Features Section -->
<div class="row align-items-center my-5">
  <div class="col-lg-7 col-md-5 mt-4">
    <h2 class="font-weight-light">IdeaPad L340 Gaming (17)</h2>
    <p class="lead">Sortez le grand jeu à chaque partie</p>
    <p class="lead">Bénéficiez de la puissance et des performances dont vous avez besoin pour affronter les meilleurs. Le clavier de taille standard est doté d’un dispositif de rétroéclairage ambiant. Le design est élégant et stylé. L’IdeaPad L340 Gaming (17") est un portable conçu de A à Z pour les vrais gamers.</p>
    <a class="btn btn-warning" routerLink="/products">Plus de produits</a>
  </div>
  <div class="col-lg-5 col-md-7">
    <img class="img-fluid" src="/assets/images/features/feature1.jpg" alt="">
  </div>
</div>
<!-- /.row -->

<div class="row align-items-center my-5">
  <div class="col-lg-5 col-md-7">
    <img class="img-fluid" src="/assets/images/features/feature2.jpg" alt="">
  </div>
  <div class="col-lg-7 col-md-5 mt-4">
    <h2 class="font-weight-light">IdeaPad Gaming 3i (15)</h2>
    <p class="lead">Jouez à armes égales</p>
    <p class="lead">Vivez une expérience de jeu comme jamais auparavant sur l’IdeaPad Gaming 3i équipé de processeurs Intel® Core™ série H 10e génération. Jouez et diffusez les derniers titres AAA dans des conditions de fonctionnement optimales sur l’IdeaPad Gaming 3i grâce à des fréquences d’horloge allant jusqu’à 5,0 GHz, 6 cœurs, 12 Mo de mémoire Intel® Smart Cache, aux technologies Intel® Thermal Velocity Boost et Intel® Dynamic Tuning, ainsi qu’à la connectivité Intel® Wi-Fi 6 disponible en option.</p>
    <a class="btn btn-warning" routerLink="/products">Plus de produits</a>
  </div>
</div>
<!-- /.row -->

<div class="row align-items-center my-5">
  <div class="col-lg-7 col-md-5 mt-4">
    <h2 class="font-weight-light">Dell Alienware Area m15 R3</h2>
    <p class="lead">Ce laptop modulaire veut remplacer votre tour de gaming</p>
    <p class="lead">Avec leur design extra-terrestre, les Alienware ont toujours été pensés pour les gamers. Avec le nouvel Area 51m 17 pouces, Dell revoit toutefois légèrement ses ambitions… à la hausse. Le géant américain veut tout simplement remplacer votre tour gaming par ce portable.</p>
    <a class="btn btn-warning" routerLink="/products">Plus de produits</a>
  </div>
  <div class="col-lg-5 col-md-7">
    <img class="img-fluid" src="/assets/images/features/feature3.jpg" alt="">
  </div>
</div>
<!-- /.row -->

  <!--<hr class="featurette-divider" />-->

  <!-- /END THE FEATURETTES -->

